body {
    margin: 0px;
    width: auto;
}

/* Flexbox help from css-tricks.com */

.top-portion {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: #2C4251;
    border-bottom-style: dotted;
    border-bottom-color: #D16666;

}

.header {
    font-size: 30px;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
}

.liz-pic {
    border-radius: 100px;
    margin: 0 0 40px 0;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 5px rgb(11, 15, 19);
}

/* box-shadow property learned from w3schools.com */

.bio-container {
    padding: 25px;
    color: #ffffff;
}

.social-icon {
    background: white;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-style: solid;
    border-color: black;
}

.liz-davidson {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

.bio-text {
    font-family: 'Raleway', sans-serif;
    padding: 5% 10%;
}

.project-card {
    background: #D16666;
    width: 30%;
    height: 50px;
    box-shadow: 5px 5px 5px gray;
}

.projects-section {
    display: flex;
    justify-content: space-around;
    margin: 25px;

}