html {
    height: 100%;
    background-color: #282726
}

body {
    margin: 0;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5% 5%;
}

.pic {
    min-width: 20%;
}

.liz-pic {
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 auto;
    
    
}

.bio {
    /* background: green; */
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
    width: 100%;
    margin-left: 3%;
    color: white;
}

.top-line {
    margin-bottom: 0;
    display: block;
    border-bottom: 3px solid white;
}

.bottom-line {
    margin-top: 0;
    text-align: right;
}

.red {
    color: #a7414a;
    font-size: 60px;
    line-height: 40px;
    position: relative;
    animation: bounce 5s infinite;
    
}

main {
    min-height: 80vh;
    margin: 10px 10%;
}

.container {
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: 'Didact Gothic', sans-serif;
    margin: 10px auto;
    display: inline;


}


.normal {
    color: white;
    font-size: 20px;
}

.proj-pic {
    height: 250px;
    width: 250px;
    border: 1px solid white;
}

@media only screen and (max-width: 768px) {
    header {
            display: flex;
            flex-direction: column;
            justify-items: center;
    }
    
    .pic {
        margin: 0 auto;
    }
    
    .top-line {
        text-align: center;
        margin: 0
    }
    .bottom-line {
        text-align: center;
        margin: 0;
    }
    .bio {
        margin: 0;

    }

}