* {
	box-sizing: border-box;
	color: #13342f;
}

.about-section {
	min-height: 101vh;
	padding: 60px;
	background: #ffffff;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&__title {
		font-size: 3rem;
		margin-top: 0;
	}

	&__container {
		font-size: 20px;
		max-width: 900px;
		margin: 0 auto;
	}
}

.caps {
	text-transform: uppercase;
}
