.project-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #ffffff;
	padding: 30px;
	height: 350px;
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
	font-size: 1rem;

	img {
		width: 100%;
		height: auto;
	}

	&__details {
		background: black;
		position: absolute;
		height: 350px;
		padding: 30px;
		width: 350px;
		left: 0;

		* {
			color: #ffffff;
		}
	}
}
